<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        label{
            width:150px;
            display:inline-block;
            text-align:right;
            padding_right:5px;

        }
    </style>
</head>
<body>
    <h2>Please sign in</h2>
        <form action="/doLogin" method=post>
            <label>Account Name:</label>
            <input name='userName' placeholder="Account Name" type="text"><br>
            <label>Password:</label>
            <input name='userPassword' placeholder="Password" type="text"><br>
            <input type="submit" value="Login">
        </form>
</body>
</html>