<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        label{
            width:150px;
            display:inline-block;
            text-align:right;
            padding_right:5px;

        }
    </style>
</head>
<body>
    <h2>Please sign in</h2>
        <form action="toLogin" method = post>
            <label>Account Name:</label>
            <input type="text" placeholder="Account Name" name = 'userName'><br>
            <label>Password:</label>
            <input type="text" placeholder="Password" name = 'userPassword'><br>
            <input type ="submit" value = "Login">
        </form>
</body>
</html>