<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h2>This is a main page</h2>
    <label>welcome, </label>
    <span th:text="${session.loginUser}">user name</span><br><br>
    <span th:text="${session.msg}">msg</span><br><br>
    <a th:href="@{user/index}" th:style="'display:' + @{(${session.permissionList.contains('user')}? 'inline-block' : 'none')}">User Manage</a><br>
    <a th:href="@{role/index}" th:style="'display:' + @{(${session.permissionList.contains('role')}? 'inline-block' : 'none')}">Role Manage</a><br>
    <a th:href="@{permission/index}" th:style="'display:' + @{(${session.permissionList.contains('permission')}? 'inline-block' : 'none')}">Permission Manage</a><br>
    <a th:href="@{default/index}" th:style="'display:' + @{(${session.permissionList.contains('default')}? 'inline-block' : 'none')}">Default Page</a><br>
    <a href="http://k8s-default-nacosser-349c7af5d9-fbbb76f615085720.elb.us-west-2.amazonaws.com:8848/nacos/">nacos</a>
    <form action="toLogin" method = post>
        <label>Account Name:</label>
        <input type="text" placeholder="Account Name" name = 'userName'><br>
        <label>Password:</label>
        <input type="text" placeholder="Password" name = 'userPassword'><br>
        <input type ="submit" value = "Login">
    </form>
</body>
</html>